@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: #f7f7f4;
    color: #1c1d1a;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    min-height: 100vh;
  }

  input[type='number']::-webkit-inner-spin-button {
    opacity: 0.4;
  }
}
